extends ../layout

//- block head // This is needed for the edit view of the show and/or seasons
//-     style.
//-         .fixed-table-body {
//-             height: auto !important;
//-         }

block content
    .container
        .panel.panel-default
            .panel-body
                .media
                    .pull-left
                        img.media-object.img-rounded(src=show.poster)
                        .text-center
                        if(!user)
                            .text-center
                                a(href="/signin").btn.btn-block.btn-primary Signin to Subscribe
                        else
                            if(!show.isSubscribed)
                                button.btn.btn-block.btn-success
                                    span.ion-plus Subscribe
                            else
                                button.btn.btn-block.btn-danger
                                    span.ion-minus Unsubscribe
                    .media-body
                        h2.media-heading
                            | #{show.name}
                            span.pull-right.text-danger
                                span.ion-heart
                                | #{show.rating}
                        h4
                            | Status: 
                            if(show.status === 'Continuing')
                                span.ion-calendar
                                |  #{show.airsDayOfWeek} <em>#{show.airsTime}</em> on #{show.network}
                            else
                                span.text-danger Ended
                        p #{show.overview}
        - for(seasonNumber=0;seasonNumber<show.seasons.length;seasonNumber++)
            if(seasonNumber == 0 ? show.showSpecials ? true : false : true)
                .col-xs-4.col-md-2.season
                    a(href="/show/" + show.showId + '/' + seasonNumber)
                        img(src=show.poster, width="100%").img-rounded
                    .text-center
                        a(href="/show/" + show.showId + '/' + seasonNumber) Season #{seasonNumber}
        //-     if(season ? seasonNumber == 0 ? show.showSpecials ? true : false : true : false)
        //-         .panel.panel-default
        //-             .panel-heading
        //-                 span.ion-film-marker
        //-                 |  Season #{seasonNumber}
        //-             .panel-body
        //-                 table(data-toggle="table", data-click-to-select="true").table
        //-                     thead
        //-                         tr
        //-                             th(data-field='selected', data-checkbox='true')
        //-                             th(data-field='episode') Episode
        //-                             th(data-field='name') Name
        //-                             th(data-field='dirdate') Airdate
        //-                             th(data-field='status') Status
        //-                             th(data-field='search') Search
        //-                     tbody
        //-                         - for(var k = season.length; k--;)
        //-                             - episode = season[k]
        //-                             tr(class=(episode.downloadState === 'downloaded' ? 'success' : (episode.downloadState === 'paused' ? 'info' : 'active')))
        //-                                 td
        //-                                 td #{episode.episodeNumber}
        //-                                 td #{episode.episodeName}
        //-                                 td #{episode.firstAired}
        //-                                 td #{episode.downloadState}
        //-                                 td
        //-                     //- .episode
        //-                     //-     h4
        //-                     //-         | #{episode.episodeName} <small>Season #{seasonNumber}, Episode #{episode.episodeNumber}</small>
        //-                     //-     p
        //-                     //-         span.ion-clock
        //-                     //-         |  #{episode.firstAired}
        //-                     //-     p #{episode.overview}
