extends ./layout

block scripts
    script(src="/js/search.js")

block content
    .row.show-list
        if (shows)
            each show in shows
                .col-xs-4.col-md-2.media-object.tv-show(data-name=show.name)
                    a(href="/show/" + show._id)
                        img(src=show.poster, width="100%").img-rounded
                    .text-center
                        a(href="/show/" + show._id) #{show.name}
                        p.text-muted Episodes: #{show.episodes}
    .row.movie-list
        if (movies)
            each movie in movies
                .col-xs-4.col-md-2.media-object.movie(data-name=movie.name)
                    a(href="/movie/" + movie._id)
                        img(src=movie.poster, width="100%").img-rounded
                    .text-center
                        a(href="/movie/" + movie._id) #{movie.name}
                        p.text-muted Movie Length: #{movie.length}
