extends ./layout

block content
    .container
        .panel.panel-default
            .panel-body
                .media
                    .pull-left
                        img.media-object.img-rounded(src=show.poster)
                        .text-center
                        if(!user)
                            .text-center
                                a(href="/signin").btn.btn-block.btn-primary Signin to Subscribe
                        else
                            if(!show.isSubscribed)
                                button.btn.btn-block.btn-success
                                    span.ion-plus Subscribe
                            else
                                button.btn.btn-block.btn-danger
                                    span.ion-minus Unsubscribe
                    .media-body
                        h2.media-heading
                            | #{show.name}
                            span.pull-right.text-danger
                                span.ion-heart
                                | #{show.rating}
                        h4
                            | Status: 
                            if(show.status === 'Continuing')
                                span.ion-calendar
                                |  #{show.airsDayOfWeek} <em>#{show.airsTime}</em> on #{show.network}
                            else
                                span.text-danger Ended
                        p #{show.overview}
        - for(var seasonNumber = Object.keys(show.seasons).length; seasonNumber--;)
            - season = show.seasons[seasonNumber];
            if(season ? seasonNumber == 0 ? show.showSpecials ? true : false : true : false)
                .panel.panel-default
                    .panel-heading
                        span.ion-film-marker
                        |  Season #{seasonNumber}
                    .panel-body
                        - for(var k = season.length; k--;)
                            - episode = season[k]
                            .episode
                                h4
                                    | #{episode.episodeName} <small>Season #{seasonNumber}, Episode #{episode.episodeNumber}</small>
                                p
                                    span.ion-clock
                                    |  #{episode.firstAired}
                                p #{episode.overview}
