extends ./layout

block content
    .container
        .panel.panel-default
            .panel-body
                .media
                    .pull-left
                        img.media-object.img-rounded(src=show.poster)
                        .text-center
                        if(!user)
                            .text-center
                                a(href="/signin").btn.btn-block.btn-primary Signin to Subscribe
                        else
                            if(!show.isSubscribed)
                                button.btn.btn-block.btn-success
                                    span.ion-plus Subscribe
                            else
                                button.btn.btn-block.btn-danger
                                    span.ion-minus Unsubscribe
                    .media-body
                        h2.media-heading
                            | #{show.name}
                            span.pull-right.text-danger
                                span.ion-heart
                                | #{show.rating}
                        h4
                            | Status: 
                            if(show.status === 'Continuing')
                                span.ion-calendar
                                |  #{show.airsDayOfWeek} <em>#{show.airsTime}</em> on #{show.network}
                            else
                                span.text-danger Ended
                        p #{show.overview}
        .panel.panel-default
            .panel-heading
                span.ion-film-marker
                |  Episodes
            .panel-body
                each episode in show.episodes
                    .episode
                        h4
                            | #{episode.episodeName} <small>Season #{episode.season}, Episode #{episode.episodeNumber}</small>
                        p
                            span.ion-clock
                            |  #{episode.firstAired}
                        p #{episode.overview}
//-   <div class="alert alert-info" ng-show="nextEpisode">
//-     The next episode starts {{nextEpisode.firstAired | fromNow}}.
//-   </div>
//- 
//-   <div class="panel panel-default">
//-     <div class="panel-heading">
//-       <span class="ion-film-marker"></span> Episodes
//-     </div>
//-     <div class="panel-body">
//-       <div class="episode" ng-repeat="episode in show.episodes">
//-         <h4>{{episode.episodeName}}
//-         <small>Season {{episode.season}}, Episode {{episode.episodeNumber}}</small>
//-         </h4>
//-         <p>
//-           <span class="ion-clock"></span>
//-           {{episode.firstAired | date: 'short'}}
//-         </p>
//-         <p>{{episode.overview}}</p>
//-       </div>
//-     </div>
//-   </div>
//- </div>
